#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "Wi-Fi repeater"


module = REPEATER
module-dep = LOG
module-str = Log level for repeater app
module-help = Sets log level for repeater application.
source "subsys/net/Kconfig.template.log_config.net"

source "Kconfig.zephyr"

config ENGPC
	bool "ENGPC test tool"
	default y
	depends on IWNPI
	depends on BT_TEST
	help
	   Enable ENGPC test tool for bt/wifi npi test

config IWNPI
	bool "iwnpi tool for wifi npi test"
	default y
	select NETWORKING
	depends on WIFI_UWP
	help
	   Enable the iwnpi tool for wifi npi test

config BT_TEST
	bool "test tool for bt npi"
	default y
	depends on BT_UWP5661
	help
	   Enable the bt npi test

config OTA
	bool
	default y
	select HTTP
	select HTTP_CLINET
	help
	   Enable ota
